src/*.exe
src/bawbeecoin
src/bawbeecoind
src/test_bawbeecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.bawbeecoin
bawbag
bawbag.exe

#IDEs
.project
.cproject
.idea
CMakeLists.txt

# Compilation and Qt preprocessor part
*.qm
Makefile
bawbeecoin-qt
Bawbeecoin-Qt.app

# Unit-tests
Makefile.test
bawbeecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile

# Windows builds
debug
release
object_script.*
Makefile.Debug
bawbag-qt.win.pro

# Personal tools
build.sh
build.win.txt
deploy.sh